[data-md-color-scheme="haggqvist"] {
  --md-default-fg-color: rgba(255, 255, 255, .87);
  --md-default-fg-color--light: rgba(255, 255, 255, .65);
  --md-default-bg-color: #151515;

  --md-primary-fg-color: #202020;
  --md-primary-fg-color--light: var(--md-primary-fg-color);
  --md-default-fg-color--lighter: var(--md-primary-fg-color--light);
  --md-primary-fg-color--dark: var(--md-primary-fg-color);

  --md-accent-fg-color: rgba(0, 191, 165, .6);

  --md-code-bg-color: #1e1e1e;
  --md-code-fg-color: #d4d4d4;
  --md-code-hl-color: rgba(255, 255, 255, .1);
  --md-code-hl-string-color: var(--md-accent-fg-color);
  --md-code-hl-comment-color: #606060;
  --md-code-hl-number-color: rgba(200, 57, 57, 0.7);
  --md-code-hl-keyword-color:rgba(63, 110, 198, .8);
  --md-code-hl-constant-color: var(--md-code-hl-keyword-color);
  --md-code-hl-function-color:rgba(198, 117, 212, 0.9);
  --md-code-hl-special-color: var(--md-code-hl-number-color);
  --md-code-hl-punctuation-color: #d4d4d4;
  --md-code-hl-generic-color:#d4d4d4;
  --md-code-hl-operator-color:#d4d4d4;
  --md-code-hl-name-color:var(--md-code-fg-color);
  --md-code-hl-variable-color:#d4d4d4;

  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-table-color: var(--md-default-fg-color);
  --md-typeset-a-color: var(--md-accent-fg-color);

  --md-admonition-bg-color: var(--md-primary-fg-color);
  --md-admonition-fg-color: var(--md-default-fg-color);
}

.highlight .gp {
  color: var(--md-accent-fg-color);
}

.md-footer__inner {
  display: none
}